.DS_Store
/.build
/Packages
/*.xcodeproj
*.swp
.postgres
.postgres-old
.swiftpm

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.sass-cache
node_modules
.env
data/plans.json
import
