[submodule "vendor/objcjs"]
	path = vendor/objcjs
	url = git@github.com:objcio/objcjs.git
[submodule "assets/stylesheets/objcss"]
	path = assets/stylesheets/objcss
	url = git@github.com:objcio/objcss.git
