@function asset-url($url){
  @return url('/assets/fonts/' + $url);
}

@import 'fonts';
@import 'objcss/objcss';
@import 'vendor/fontawesome/scss/fontawesome';
@import 'icons';
@import 'codehilite';

.js-transcript-cue {
  line-height: 1;
  display: inline-block;
  font-size: modular(-2);
  font-weight: bold;

  display: inline-block;

  margin-right: 1em;
  margin-right: calc(100% - 3em);
}

.js-transcript {
  @include bp-from(l) {
    $spacing: 1em;
    padding-left:  $spacing;
    padding-right: $spacing;
    margin-left:   (-$spacing);
    margin-right:  (-$spacing);
  }
}

.js-video-badge {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.admin th {
    width: 200px;
    text-align: left;
}
